
x-n8n-common: &n8n-common
  environment:
    - DB_TYPE=postgresdb
    - DB_POSTGRESDB_HOST=postgres
    - DB_POSTGRESDB_PORT=5432
    - DB_POSTGRESDB_DATABASE=${POSTGRES_DB}
    - DB_POSTGRESDB_USER=${POSTGRES_USER}
    - DB_POSTGRESDB_PASSWORD=${POSTGRES_PASSWORD}
    - N8N_SECURE_COOKIE=false
  env_file:
    - .env
  volumes:
    - n8n_storage:/home/node/.n8n

x-n8n-common-build: &n8n-common-build
  context: .
  dockerfile: n8n.Dockerfile

services:
  postgres:
    image: postgres:16
    restart: always
    environment:
      - POSTGRES_USER
      - POSTGRES_PASSWORD
      - POSTGRES_DB
    volumes:
      - db_storage:/var/lib/postgresql/data
    healthcheck:
      test: ['CMD-SHELL', 'pg_isready -h localhost -U ${POSTGRES_USER} -d ${POSTGRES_DB}']
      interval: 5s
      timeout: 5s
      retries: 10

  n8n:
    <<: *n8n-common
    build:
      <<: *n8n-common-build
      target: n8n
    restart: always
    ports:
      - 5678:5678
    depends_on:
      postgres:
        condition: service_healthy
    healthcheck:
      test: ["CMD-SHELL", "wget --no-verbose --tries=1 --spider http://127.0.0.1:5678/healthz/readiness || exit 1"]
      interval: 30s
      timeout: 10s
      retries: 5
      start_period: 60s

  n8n-init:
    <<: *n8n-common
    build:
      <<: *n8n-common-build
      target: n8n-init
    depends_on:
      n8n: { condition: service_healthy }
    restart: "no"

  ollama:
    image: ollama/ollama
    ports:
      - "11434:11434"
    volumes:
      - ollama_storage:/root/.ollama

volumes:
  db_storage:
  n8n_storage:
  ollama_storage:
